html
  head
    title Login
  body
    form(action="/login" method="post")
        input(type="text" name="username" placeholder="user name")
        div
        input(type="password" name="password" placeholder="password")
        div
        input(type="submit")
    a(href="/register") Sign Up
