html
  head
    title Login
  body
    form(action="/register" method="post")
      input(type="text" name="username" placeholder="Type a user name")
      div
      input(type="password" name="password1" placeholder="Type a password")
      div
      input(type="password" name="password2" placeholder="Repeat the password")
      div
      input(type="submit")
